.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5ff;
  padding: 30px;
}

.login-card {
  width: 100%;
  max-width: 430px;
  background: white;
  padding: 45px;
  border-radius: 22px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.08);
}

.login-logo {
  text-align: center;
  color: #6c5ce7;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 35px;
}

.login-card h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
}

.login-subtitle {
  text-align: center;
  color: #777;
  margin-bottom: 32px;
}

.login-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.login-input-group label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
}

.login-input-group input {
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
}

.login-input-group input:focus {
  border-color: #6c5ce7;
}

.login-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  margin-bottom: 25px;
}

.login-options label {
  display: flex;
  align-items: center;
  gap: 6px;
}

.login-options a {
  color: #6c5ce7;
  text-decoration: none;
}

.login-card button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #6c5ce7;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.login-card button:hover {
  background: #5848d4;
}

.signup-text {
  text-align: center;
  color: #777;
  margin-top: 25px;
}

.signup-text a {
  color: #6c5ce7;
  font-weight: 600;
  text-decoration: none;
}

.login-password-wrapper {
  position: relative;
  width: 100%;
}

.login-password-wrapper input {
  width: 100%;
  padding-right: 45px;
}

.login-password-wrapper .login-password-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);

  width: 30px;
  height: 30px;

  padding: 0;
  margin: 0;

  border: none;
  background: transparent;

  color: #555;
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  box-shadow: none;
}

.login-password-wrapper .login-password-toggle:hover {
  background: transparent;
  transform: translateY(-50%);
}